.price-range-picker {
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: 9999999;
  }
  
  .range-values {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .range-values input {

    text-align: center;
    background-color:#ffffff ;
    color: #0f0f0f;
    outline: none;
   
  }
  
  .slider-container {
    
    margin: 35px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4px;
    background:#094680;
    color:white;
    border-radius: 5px;
    
  }
  
  .thumb {
    width: 2px;  /* Set width for rectangle */
    height: 30px; /* Set height for rectangle */
    background-color: #094680;
    border:none;
    padding:5px;
    cursor: pointer;
    outline: none;
  }
  
  .track {
    background: #FF5900;
  }
  